<%- include('../partials/head') %>
  </head>

  <body>
    <%- include('../partials/nav', {userId: userId}) %>
      <main>
        <div class="dashboard-container">
          <!-- Greeting and Date -->
          <div class="card">
            <h2>Good Morning, <%= userName %>!</h2>
            <p>Today's Date: <%= new Date().toLocaleDateString("en-US", { weekday: 'long' , year: 'numeric' ,
                month: 'long' , day: 'numeric' }) %>
            </p>
          </div>

          <!-- Upcoming Reminders -->
          <div class="card">
            <h3>Upcoming Reminders</h3>
            <ul>
              <% if (reminders.length> 0){%>
                <% reminders.forEach(reminder=> { %>
                  <li>
                    <strong>
                      <%= reminder.medicineName %>
                    </strong> - <%= reminder.scheduleTime %>
                  </li>
                  <% }); %>
                    <% } else { %>
                      <li>No reminders available</li>
                      <li>Please Add Medicine</li>
                      <% } %>
            </ul>
          </div>

          <!-- Notifications -->
          <div class="card">
            <h3>Notifications</h3>
            <p>
              <%= notifications %>
            </p>
          </div>
        </div>
      </main>

  </body>

  </html>