<%- include('../layouts/head') %>
  </head>

  <body>
    <%- include('../layouts/nav', {userId: userId}) %>
      <main>
        <div class="dashboard-container">
          <!-- Greeting and Date -->
          <div class="card">
            <h2>Good Morning, <%= userName %>!</h2>
            <p>Today's Date: <%= new Date().toLocaleDateString("en-US", { weekday: 'long' , year: 'numeric' ,
                month: 'long' , day: 'numeric' }) %>
            </p>
            <p>Time : <%=new Date().toLocaleTimeString() %></p>
          </div>

          <div>
            <h2 style="color: rgb(255, 0, 200); text-align: center;">Medicine History</h2>
          </div>

        <div class="container">         
          <div class="medicine-container">
              <% if (medicineHistory && medicineHistory.length> 0){%>
                <% medicineHistory.forEach(medicine=> { %>
                  <div class="medicine-card">
                    <h3><%= medicine.medicineName %></h3>

                    <p><strong>Schedule Time: </strong><%= medicine.scheduleTime %></p>

                    <p><strong>Total Doses: </strong><%= medicine.totalDoses %></p>

                    <p><strong>Remaining Dosage: </strong><%= medicine.remainingDoses %></p>

                  </div>
                  <% }); %>
                <% } else { %>
                <li>No Medicine History available</li>
                <li>Please Add Medicine</li>
              <% } %>
          </div>
        </div>
        </div>
      </main>

  </body>

  </html>